<% include header %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="diagramTitle" class="navbar-brand" data-toggle="modal" data-target="#mainModal"><%= diagram.meta.title %></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Diagrams <span class="caret"></span></a>
              <ul id="diagrams" class="dropdown-menu pd-2" onclick="event.stopPropagation();">
                <div class="row mb-2">
                  <div class="col-sm-8">
                    <div class="input-group">
                      <span class="input-group-addon" id="search">Search</span>
                      <input id="diagram-filter" type="text" class="form-control"  aria-describedby="search">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <form action="/dashboard/add-diagram" method="POST" role="form"> 
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">                   
                      <button type="submit" class="btn btn-primary">New Diagram</button>
                    </form>
                  </div>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr id="diagram-header">
                      <th col="title">Name</th>
                      <th col="created">Created</th>
                      <th col="lastUpdate">Updated</th>
                    </tr>
                  </thead>
                  <tbody id="diagram-list">
                    <% for (i in diagrams) {%>
                      <tr id="<%= diagrams[i]._id %>" class="change-diagram">
                        <td><%= diagrams[i].meta.title %></td>
                        <td><%= diagrams[i].meta.created.toLocaleString() %></td>
                        <td><%= diagrams[i].meta.lastUpdate.toLocaleString() %></td>
                        <% if (diagrams.length > 1) {%>
                          <td><button type="button" class="close delete-diagram" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                        <% } %>  
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav right">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Import <span class="caret"></span></a>
              <ul id="import" class="dropdown-menu dropdown-menu-right pd-2" onclick="event.stopPropagation();">
                <div class="input-group mb-2">
                  <select id="sampleType" class="form-control">
                    <option>CSV: Nodes</option>
                  </select>
                  <div class="input-group-btn">
                    <button id="getSample" type="button" class="btn btn-default">Download Sample</button>
                  </div>
                </div>
                <div class="form-group">
                  <input type="file" id="exampleInputFile" onchange="importCSVNodes()">
                  <p class="help-block"><small>Note: file must be formatted properly for import to work.</small></p>
                </div>
                <div id="importError" class="alert alert-danger" hidden></div>
                <div id="importBtn" class="form-group" hidden>
                  <a type="button" class="btn btn-primary pull-right">Import</a>
                </div>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Export <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="export?type=cypher&diagram=<%= diagram._id %>">Cypher</a></li>
                <li><a href="export?type=csvn&diagram=<%= diagram._id %>">CSV: Nodes</a></li>
                <li><a href="export?type=csvr&diagram=<%= diagram._id %>">CSV: Relationships</a></li>
                <li><a href="export?type=markup&diagram=<%= diagram._id %>">Markup</a></li>
                <li><a id="exportSVG">SVG</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div id="tools">
    <ul class="nav nav-pills nav-stacked mb-2">
      <li id="zoomIn" role="presentation">
        <a>Zoom in</a>
      </li>
      <li id="zoomOut" role="presentation">
        <a>Zoom out</a>
      </li>
      <li id="zoomFit" role="presentation">
        <a>Zoom fit</a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked mb-2">
      <li id="copyStyle" role="presentation">
        <a>Copy style
          <div id="mirrorNode" class="hide"> T </div>
        </a>
      </li>
      <li id="addNode" role="presentation">
        <a>Add node  </a>
      </li>
      <li id="addRelationship" role="presentation">
        <a>Add rel</a>
      </li>
      <li id="deleteElement" role="presentation">
        <a>Delete element</a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <li id="undo" role="presentation">
        <a>Undo</a>
      </li>
      <li id="redo" role="presentation">
        <a>Redo</a>
      </li>
      <li id="slider" role="presentation">
        <a>Slider</a>
      </li>
    </ul>
  </div>

  <div id="editNode" class="col-xs-12 col-sm-4 col-md-3 edit-sidebar pd-2 hide">
    <div class="row mb-2">
      <button type="button" id="closeEditNode" class="close pull-left" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <form>
      <div class="form-group">
        <label for="caption">Caption</label>
        <input type="text" class="form-control" id="caption" name="caption">
      </div>
      <div class="form-group">
        <label for="nodeProperties">Properties</label>
        <textarea class="form-control" rows="8" id="nodeProperties"></textarea>
      </div>
      <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="options" id="isCircle" autocomplete="off" checked> Circle
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="isRectangle" autocomplete="off"> Rect
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="color" id="nodeColor">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="nodeColorBtn">Text color</button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="fill" id="nodeFill">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="nodeFillBtn">Fill color</button>
          </span>
        </div>
      </div>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" id="saveNode" class="btn btn-primary pull-right">Save</button>
    </form>
  </div>
  <div id="editRel" class="col-xs-12 col-sm-4 col-md-3 edit-sidebar pd-2 hide">
    <div class="row mb-2">
      <button type="button" id="closeEditRel" class="close pull-left" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <form>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type">
      </div>
      <div class="form-group">
        <label for="relProperties">Properties</label>
        <textarea class="form-control" rows="8" id="relProperties"></textarea>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="fill" id="relFill">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="relFillBtn">Fill color</button>
          </span>
        </div>
      </div>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" id="saveRel" class="btn btn-primary pull-right">Save</button>
    </form>
  </div>

  <div id="diagram"></div>

  <!-- Slider -->
  <div id="slider-container">
      <ul class="nav nav-pills">
        <li role="presentation"><a>Play <small>1/2</small></a></li>
        <li role="presentation"><a><small>Speed: </small><input type="range" min="300" max="2000" step="100" value="1300"></a></li>
        <li role="presentation"><a data-toggle="modal" data-target="#createBranch">Branch</a></li>
        <li role="presentation"><a>Back</a></li>
      </ul>
        <div class="row">
         <input id="input-slider" type="range" min="1" max="5" step="1" value="currentIndex">
        </div>
  </div>

  <!--Create Branch Modal-->
  <div class="modal fade" id="createBranch" tabindex="-1" role="dialog" aria-labelledby="createBranchLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createBranchLabel">Create branch</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="diagram-title">Diagram title</label>
                <input type="text" class="form-control" id="new-branch-title" value="New diagram">
            </div>
            <button id="create-go" type="button" class="btn btn-primary" data-dismiss="modal">Create and go to new diagram</button>
            <button id="create-stay" type="button" class="btn btn-primary" data-dismiss="modal">Create and stay here</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update title -->
  <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mainModalLabel">Update title</h4>
        </div>
        <div class="modal-body">
          <div id="mainModalError" class="alert alert-danger" hidden></div>
          <div class="input-group">
            <input id="newDiagramTitle" type="text" class="form-control" value="<%= diagram.meta.title %>" required="required">
            <span class="input-group-btn">
              <button id="updateTitle" class="btn btn-primary" type="button">Update</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var diagramObj = <%- JSON.stringify(diagram) %>
    var mirrorNode = <%- JSON.stringify(node) %>
    var historyIndex = <%- diagram.meta.historyIndex; %>
  </script>
<% include footer %>