<% include header %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ><%= diagram.meta.title %></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Diagrams <span class="caret"></span></a>
              <ul id="diagrams" class="dropdown-menu pd-2">
                <div class="row mb-2">
                  <div class="col-sm-8">
                    <div class="input-group">
                      <span class="input-group-addon" id="search">Search</span>
                      <input type="text" class="form-control"  aria-describedby="search">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <form action="/dashboard/add-diagram" method="POST" role="form"> 
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">                   
                      <button type="submit" class="btn btn-primary">New Diagram</button>
                    </form>
                  </div>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Created</th>
                      <th>Updated</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (i in diagrams) {%>
                      <tr onclick="changeDiagram('<%= diagrams[i]._id %>')">
                        <td><%= diagrams[i].meta.title %></td>
                        <td><%= diagrams[i].meta.created.toLocaleString() %></td>
                        <td><%= diagrams[i].meta.lastUpdate.toLocaleString() %></td>
                        <% if (diagrams.length > 1) {%>
                          <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                        <% } %>  
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav right">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Import <span class="caret"></span></a>
              <ul id="import" class="dropdown-menu dropdown-menu-right pd-2" onclick="event.stopPropagation();">
                <div class="input-group mb-2">
                  <select id="sampleType" class="form-control">
                    <option>CSV: Nodes</option>
                  </select>
                  <div class="input-group-btn">
                    <button id="getSample" type="button" class="btn btn-default">Download Sample</button>
                  </div>
                </div>
                <div class="form-group">
                  <input type="file" id="exampleInputFile" onchange="importCSVNodes()">
                  <p class="help-block"><small>Note: file must be formatted properly for import to work.</small></p>
                </div>
                <div id="importError" class="alert alert-danger" hidden></div>
                <div id="importBtn" class="form-group" hidden>
                  <a type="button" class="btn btn-primary pull-right">Import</a>
                </div>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Export <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="export?type=cypher&diagram=<%= diagram._id %>">Cypher</a></li>
                <li><a href="export?type=csvn&diagram=<%= diagram._id %>">CSV: Nodes</a></li>
                <li><a href="export?type=csvr&diagram=<%= diagram._id %>">CSV: Relationships</a></li>
                <li><a href="export?type=markup&diagram=<%= diagram._id %>">Markup</a></li>
                <li><a onclick="exportSVG()">SVG</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<% include footer %>
